onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=ssh2
